
body {
    background-image: url(imagenes/fondo-habitacion.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h2 {
    color: white;
    position: fixed;
    top: 30px;
    left: 45%;
    background: rgba(0, 0, 0, 0.585);
    background-size: 100px;
    background-attachment: fixed;
}

.titulo, p {
    font-weight: bold;
    font-size: 20px;
}

.frase, p {
    font-weight: normal;
    font-size: 13px;
}

.contenido-informacion {
    width: 640px;
    margin: 0 auto;
}

.lista-informacion {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items {
    line-height: 1.5;
}

.items::before {
    content: "🚫";
}

.informacion {
    font-family: sans-serif;
    font-size: 13px;
    width: 25%;
    height: 28%;
    position: fixed;
    top: 35%;
    left: 10%;
    padding: 20px;
    background-color: rgba(157, 225, 89, 0.714);
    margin: 5px;
    border-radius: 10px;
    border-color: black;
}

.inputPadron {
    width: 25%;
    height: 65%;
    resize: none;
    overflow: hidden;
    position: fixed;
    top: 12%;
    left: 40%;
    background-color: rgba(0, 0, 255, 0.541);
    margin: 5px;
    border-radius: 10px;
    border-color: rgb(20, 15, 15);
    background-attachment: fixed;
    color: white;
}

.inputPadron, text {
    text-transform: lowercase;
}

.mensajeDeEncriptado {
    display: inline;
    position: fixed;
    top: 5%;
    left: 74%;
    visibility: visible;
    background-attachment: fixed;
    font-size: 24px;
    color: white;
}

.mensajeEncriptado {
    width: 22%;
    height: 65%;
    resize: none;
    overflow: hidden;
    position: fixed;
    top: 12%;
    left: 73%;
    background-color: rgba(7, 5, 7, 0.541);
    margin: 5px;
    border-radius: 10px;
    border-color: rgb(186, 92, 15);
    color: white;
}

.hidden {
    display: none;
}

/* Botones */

.btnEncriptar, .btnDesencriptar, .btnEliminar, .btnCopiar {
    width: 10%;
    padding: 10px 0;
    font-size: 14px;
    font-weight: normal;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.btnEncriptar {
    background: rgba(125, 183, 8, 0.763);
    position: fixed;
    top: 80%;
    left: 41%;
}

.btnDesencriptar {
    background: rgba(25, 147, 255, 0.763);
    position: fixed;
    top: 80%;
    left: 55%;
}

.btnEliminar {
    background: rgba(237, 17, 17, 0.843);
    position: fixed;
    top: 86%;
    left: 48%;
}

.btnCopiar {
    background: rgba(211, 17, 237, 0.843);
    position: fixed;
    top: 80%;
    left: 85%;
}

/* Copyright */

.copyright {
    color: white;
    font-size: 13px;
    margin: 20px;
    position: fixed;
    top: 90%;
    left: 45%;
}
